.container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}

.btns-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box {
    width: 300px;
    height: 300px;
    margin: 5px;
    padding: 5px;
    border: 3px solid green;
    color: black;
}

.button {
    width: 100px;
    margin: 5px;
    padding: 5px;
    border: 3px solid red;
}